DATABASE_URL="postgres://admin:123@localhost:5432/medical_records"
REDIS_URL=redis://localhost:6379
JWT_SECRET=secret
QR_SECRET=QRsecret
ADMIN_JWT_SECRET=admin-top-secret-key
RT_SECRET=secret
ADMIN_JWT_SECRET=
COOKIE_SECRET=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
OPENAI_API_KEY=
